<h2***REMOVED***Owner</h2***REMOVED***
<form ng-submit="$ctrl.submitOwnerForm()" style="max-width: 25em;"***REMOVED***
    <div class="form-group"***REMOVED***
        <label***REMOVED***First name</label***REMOVED***
        <input class="form-control" ng-model="$ctrl.owner.firstName" name="firstName" required/***REMOVED***
        <span ng-show="ownerForm.firstName.$error.required" class="help-block"***REMOVED***First name is required.</span***REMOVED***
    </div***REMOVED***

    <div class="form-group"***REMOVED***
        <label***REMOVED***Last name</label***REMOVED***
        <input class="form-control" ng-model="$ctrl.owner.lastName" name="lastName" required/***REMOVED***
        <span ng-show="ownerForm.lastName.$error.required" class="help-block"***REMOVED***Last name is required.</span***REMOVED***
    </div***REMOVED***


    <div class="form-group"***REMOVED***
        <label***REMOVED***Address</label***REMOVED***
        <input class="form-control" ng-model="$ctrl.owner.address" name="address" required/***REMOVED***
        <span ng-show="ownerForm.address.$error.required" class="help-block"***REMOVED***Address is required.</span***REMOVED***
    </div***REMOVED***

    <div class="form-group"***REMOVED***
        <label***REMOVED***City</label***REMOVED***
        <input class="form-control" ng-model="$ctrl.owner.city" name="city" required/***REMOVED***
        <span ng-show="ownerForm.city.$error.required" class="help-block"***REMOVED***City is required.</span***REMOVED***
    </div***REMOVED***
    
    <div class="form-group"***REMOVED***
        <label***REMOVED***Telephone</label***REMOVED***
        <input class="form-control" ng-model="$ctrl.owner.telephone" name="telephone" required/***REMOVED***
        <span ng-show="ownerForm.telephone.$error.required" class="help-block"***REMOVED***Telephone is required.</span***REMOVED***
    </div***REMOVED***
    
    <div class="form-group"***REMOVED***
        <button class="btn btn-default" type="submit"***REMOVED***Submit</button***REMOVED***
    </div***REMOVED***
</form***REMOVED***

