<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'owners')***REMOVED***"***REMOVED***

<body***REMOVED***

  <h2***REMOVED***Owner</h2***REMOVED***
  <form th:object="${owner***REMOVED***" class="form-horizontal" id="add-owner-form" method="post"***REMOVED***
    <div class="form-group has-feedback"***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')***REMOVED***" /***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')***REMOVED***" /***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')***REMOVED***" /***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('City', 'city', 'text')***REMOVED***" /***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')***REMOVED***" /***REMOVED***
    </div***REMOVED***
    <div class="form-group"***REMOVED***
      <div class="col-sm-offset-2 col-sm-10"***REMOVED***
        <button
          th:with="text=${owner['new']***REMOVED*** ? 'Add Owner' : 'Update Owner'"
          class="btn btn-primary" type="submit" th:text="${text***REMOVED***"***REMOVED***Add
          Owner</button***REMOVED***
      </div***REMOVED***
    </div***REMOVED***
  </form***REMOVED***
</body***REMOVED***
</html***REMOVED***
