<!DOCTYPE html***REMOVED***

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'owners')***REMOVED***"***REMOVED***

<body***REMOVED***

<h2***REMOVED***Owners</h2***REMOVED***

<table id="owners" class="table table-striped"***REMOVED***
  <thead***REMOVED***
  <tr***REMOVED***
    <th style="width: 150px;"***REMOVED***Name</th***REMOVED***
    <th style="width: 200px;"***REMOVED***Address</th***REMOVED***
    <th***REMOVED***City</th***REMOVED***
    <th style="width: 120px"***REMOVED***Telephone</th***REMOVED***
    <th***REMOVED***Pets</th***REMOVED***
  </tr***REMOVED***
  </thead***REMOVED***
  <tbody***REMOVED***
  <tr th:each="owner : ${listOwners***REMOVED***"***REMOVED***
    <td***REMOVED***
      <a th:href="@{/owners/__${owner.id***REMOVED***__***REMOVED***" th:text="${owner.firstName + ' ' + owner.lastName***REMOVED***"/***REMOVED***</a***REMOVED***
    </td***REMOVED***
    <td th:text="${owner.address***REMOVED***"/***REMOVED***
    <td th:text="${owner.city***REMOVED***"/***REMOVED***
    <td th:text="${owner.telephone***REMOVED***"/***REMOVED***
    <td***REMOVED***<span th:text="${#strings.listJoin(owner.pets, ', ')***REMOVED***"/***REMOVED***</td***REMOVED***
  </tr***REMOVED***
  </tbody***REMOVED***
</table***REMOVED***
<div th:if="${totalPages ***REMOVED*** 1***REMOVED***"***REMOVED***
  <span***REMOVED***Pages:</span***REMOVED***
  <span***REMOVED***[</span***REMOVED***
  <span th:each="i: ${#numbers.sequence(1, totalPages)***REMOVED***"***REMOVED***
      <a th:if="${currentPage != i***REMOVED***" th:href="@{'/owners/?page=' + ${i***REMOVED******REMOVED***"***REMOVED***[[${i***REMOVED***]]</a***REMOVED***
      <span th:unless="${currentPage != i***REMOVED***"***REMOVED***[[${i***REMOVED***]]</span***REMOVED***
    </span***REMOVED***
  <span***REMOVED***]&nbsp;</span***REMOVED***
  <span***REMOVED***
      <a th:if="${currentPage ***REMOVED*** 1***REMOVED***" th:href="@{'/owners/?page=1'***REMOVED***" title="First"
         class="fa fa-fast-backward"***REMOVED***</a***REMOVED***
      <span th:unless="${currentPage ***REMOVED*** 1***REMOVED***" title="First" class="fa fa-fast-backward"***REMOVED***</span***REMOVED***
    </span***REMOVED***
  <span***REMOVED***
      <a th:if="${currentPage ***REMOVED*** 1***REMOVED***" th:href="@{'/owners/?page=' + ${currentPage - 1***REMOVED******REMOVED***" title="Previous"
         class="fa fa-step-backward"***REMOVED***</a***REMOVED***
      <span th:unless="${currentPage ***REMOVED*** 1***REMOVED***" title="Previous" class="fa fa-step-backward"***REMOVED***</span***REMOVED***
    </span***REMOVED***
  <span***REMOVED***
      <a th:if="${currentPage < totalPages***REMOVED***" th:href="@{'/owners/?page=' + ${currentPage + 1***REMOVED******REMOVED***" title="Next"
         class="fa fa-step-forward"***REMOVED***</a***REMOVED***
      <span th:unless="${currentPage < totalPages***REMOVED***" title="Next" class="fa fa-step-forward"***REMOVED***</span***REMOVED***
    </span***REMOVED***
  <span***REMOVED***
      <a th:if="${currentPage < totalPages***REMOVED***" th:href="@{'/owners/?page=' + ${totalPages***REMOVED******REMOVED***" title="Last"
         class="fa fa-fast-forward"***REMOVED***</a***REMOVED***
      <span th:unless="${currentPage < totalPages***REMOVED***" title="Last" class="fa fa-step-forward"***REMOVED***</span***REMOVED***
    </span***REMOVED***
</div***REMOVED***
</body***REMOVED***
</html***REMOVED***

