<!DOCTYPE html***REMOVED***

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'owners')***REMOVED***"***REMOVED***

  <body***REMOVED***
  
  
    <h2***REMOVED***Owner Information</h2***REMOVED***
  
  
    <table class="table table-striped" th:object="${owner***REMOVED***"***REMOVED***
      <tr***REMOVED***
        <th***REMOVED***Name</th***REMOVED***
        <td***REMOVED***<b th:text="*{firstName + ' ' + lastName***REMOVED***"***REMOVED***</b***REMOVED***</td***REMOVED***
      </tr***REMOVED***
      <tr***REMOVED***
        <th***REMOVED***Address</th***REMOVED***
        <td th:text="*{address***REMOVED***"***REMOVED***</td***REMOVED***
      </tr***REMOVED***
      <tr***REMOVED***
        <th***REMOVED***City</th***REMOVED***
        <td th:text="*{city***REMOVED***"***REMOVED***</td***REMOVED***
      </tr***REMOVED***
      <tr***REMOVED***
        <th***REMOVED***Telephone</th***REMOVED***
        <td th:text="*{telephone***REMOVED***"***REMOVED***</td***REMOVED***
      </tr***REMOVED***
    </table***REMOVED***
  
    <a th:href="@{{id***REMOVED***/edit(id=${owner.id***REMOVED***)***REMOVED***" class="btn btn-primary"***REMOVED***Edit
      Owner</a***REMOVED***
    <a th:href="@{{id***REMOVED***/pets/new(id=${owner.id***REMOVED***)***REMOVED***" class="btn btn-primary"***REMOVED***Add
      New Pet</a***REMOVED***
  
    <br /***REMOVED***
    <br /***REMOVED***
    <br /***REMOVED***
    <h2***REMOVED***Pets and Visits</h2***REMOVED***
  
    <table class="table table-striped"***REMOVED***
  
      <tr th:each="pet : ${owner.pets***REMOVED***"***REMOVED***
        <td valign="top"***REMOVED***
          <dl class="dl-horizontal"***REMOVED***
            <dt***REMOVED***Name</dt***REMOVED***
            <dd th:text="${pet.name***REMOVED***"***REMOVED***</dd***REMOVED***
            <dt***REMOVED***Birth Date</dt***REMOVED***
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')***REMOVED***"***REMOVED***</dd***REMOVED***
            <dt***REMOVED***Type</dt***REMOVED***
            <dd th:text="${pet.type***REMOVED***"***REMOVED***</dd***REMOVED***
          </dl***REMOVED***
        </td***REMOVED***
        <td valign="top"***REMOVED***
          <table class="table-condensed"***REMOVED***
            <thead***REMOVED***
              <tr***REMOVED***
                <th***REMOVED***Visit Date</th***REMOVED***
                <th***REMOVED***Description</th***REMOVED***
              </tr***REMOVED***
            </thead***REMOVED***
            <tr th:each="visit : ${pet.visits***REMOVED***"***REMOVED***
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')***REMOVED***"***REMOVED***</td***REMOVED***
              <td th:text="${visit?.description***REMOVED***"***REMOVED***</td***REMOVED***
            </tr***REMOVED***
            <tr***REMOVED***
              <td***REMOVED***<a
                th:href="@{{ownerId***REMOVED***/pets/{petId***REMOVED***/edit(ownerId=${owner.id***REMOVED***,petId=${pet.id***REMOVED***)***REMOVED***"***REMOVED***Edit
                  Pet</a***REMOVED***</td***REMOVED***
              <td***REMOVED***<a
                th:href="@{{ownerId***REMOVED***/pets/{petId***REMOVED***/visits/new(ownerId=${owner.id***REMOVED***,petId=${pet.id***REMOVED***)***REMOVED***"***REMOVED***Add
                  Visit</a***REMOVED***</td***REMOVED***
            </tr***REMOVED***
          </table***REMOVED***
        </td***REMOVED***
      </tr***REMOVED***
  
    </table***REMOVED***
  
  </body***REMOVED***

</html***REMOVED***
