.container {
    padding-top: 10px;
    width: 700px;
***REMOVED***

.form-horizontal {
    width: 100%;
***REMOVED***

input[type="text"] {
    height: 25px;
***REMOVED***

.navbar .nav ***REMOVED*** li ***REMOVED*** a {
    color: #000000;
***REMOVED***

.form-horizontal .control-label {
    text-align: left;
***REMOVED***
