<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'owners')***REMOVED***"***REMOVED***

<body***REMOVED***

  <h2***REMOVED***
    <th:block th:if="${pet['new']***REMOVED***"***REMOVED***New </th:block***REMOVED***
    Pet
  </h2***REMOVED***
  <form th:object="${pet***REMOVED***" class="form-horizontal" method="post"***REMOVED***
    <input type="hidden" name="id" th:value="*{id***REMOVED***" /***REMOVED***
    <div class="form-group has-feedback"***REMOVED***
      <div class="form-group"***REMOVED***
        <label class="col-sm-2 control-label"***REMOVED***Owner</label***REMOVED***
        <div class="col-sm-10"***REMOVED***
          <span th:text="${owner?.firstName + ' ' + owner?.lastName***REMOVED***" /***REMOVED***
        </div***REMOVED***
      </div***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')***REMOVED***" /***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date')***REMOVED***" /***REMOVED***
      <input
        th:replace="~{fragments/selectField :: select ('Type', 'type', ${types***REMOVED***)***REMOVED***" /***REMOVED***
    </div***REMOVED***
    <div class="form-group"***REMOVED***
      <div class="col-sm-offset-2 col-sm-10"***REMOVED***
        <button
          th:with="text=${pet['new']***REMOVED*** ? 'Add Pet' : 'Update Pet'"
          class="btn btn-primary" type="submit" th:text="${text***REMOVED***"***REMOVED***Add
          Pet</button***REMOVED***
      </div***REMOVED***
    </div***REMOVED***
  </form***REMOVED***

</body***REMOVED***

</html***REMOVED***
