<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'owners')***REMOVED***"***REMOVED***

<body***REMOVED***

  <h2***REMOVED***
    <th:block th:if="${visit['new']***REMOVED***"***REMOVED***New </th:block***REMOVED***
    Visit
  </h2***REMOVED***

  <b***REMOVED***Pet</b***REMOVED***
  <table class="table table-striped"***REMOVED***
    <thead***REMOVED***
      <tr***REMOVED***
        <th***REMOVED***Name</th***REMOVED***
        <th***REMOVED***Birth Date</th***REMOVED***
        <th***REMOVED***Type</th***REMOVED***
        <th***REMOVED***Owner</th***REMOVED***
      </tr***REMOVED***
    </thead***REMOVED***
    <tr***REMOVED***
      <td th:text="${pet.name***REMOVED***"***REMOVED***</td***REMOVED***
      <td
        th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')***REMOVED***"***REMOVED***</td***REMOVED***
      <td th:text="${pet.type***REMOVED***"***REMOVED***</td***REMOVED***
      <td
        th:text="${owner?.firstName + ' ' + owner?.lastName***REMOVED***"***REMOVED***</td***REMOVED***
    </tr***REMOVED***
  </table***REMOVED***

  <form th:object="${visit***REMOVED***" class="form-horizontal" method="post"***REMOVED***
    <div class="form-group has-feedback"***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')***REMOVED***"  /***REMOVED***
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')***REMOVED***" /***REMOVED***
    </div***REMOVED***

    <div class="form-group"***REMOVED***
      <div class="col-sm-offset-2 col-sm-10"***REMOVED***
        <input type="hidden" name="petId" th:value="${pet.id***REMOVED***" /***REMOVED***
        <button class="btn btn-primary" type="submit"***REMOVED***Add Visit</button***REMOVED***
      </div***REMOVED***
    </div***REMOVED***
  </form***REMOVED***

  <br /***REMOVED***
  <b***REMOVED***Previous Visits</b***REMOVED***
  <table class="table table-striped"***REMOVED***
    <tr***REMOVED***
      <th***REMOVED***Date</th***REMOVED***
      <th***REMOVED***Description</th***REMOVED***
    </tr***REMOVED***
    <tr th:if="${!visit['new']***REMOVED***" th:each="visit : ${pet.visits***REMOVED***"***REMOVED***
      <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')***REMOVED***"***REMOVED***</td***REMOVED***
      <td th:text=" ${visit.description***REMOVED***"***REMOVED***</td***REMOVED***
    </tr***REMOVED***
  </table***REMOVED***

</body***REMOVED***
</html***REMOVED***
