<!DOCTYPE html***REMOVED***

<html ng-app="petClinicApp" xmlns:th="http://www.thymeleaf.org"***REMOVED***

<head***REMOVED***
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/***REMOVED***
    <meta charset="utf-8"/***REMOVED***
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/***REMOVED***
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"/***REMOVED***
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags --***REMOVED***
    <title***REMOVED***PetClinic :: a Spring Framework demonstration</title***REMOVED***
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css***REMOVED***"/***REMOVED***
    <link rel="stylesheet" th:href="@{/css/petclinic.css***REMOVED***"/***REMOVED***

    <script th:src="@{/jquery/jquery.min.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/bootstrap/js/bootstrap.min.js***REMOVED***"***REMOVED***</script***REMOVED***

    <script th:src="@{/angular/angular.min.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/angular-route/angular-route.min.js***REMOVED***"***REMOVED***</script***REMOVED***

    <script th:src="@{/scripts/app.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/scripts/owner-list/owner-list.component.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/scripts/owner-details/owner-details.component.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/scripts/owner-form/owner-form.component.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/scripts/pet-form/pet-form.component.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/scripts/visits/visits.component.js***REMOVED***"***REMOVED***</script***REMOVED***
    <script th:src="@{/scripts/vet-list/vet-list.component.js***REMOVED***"***REMOVED***</script***REMOVED***

</head***REMOVED***

<body class="container"***REMOVED***
<layout-nav***REMOVED***</layout-nav***REMOVED***
<div class="container-fluid"***REMOVED***
    <div class="container xd-container"***REMOVED***
        <div ng-view=""***REMOVED***</div***REMOVED***
    </div***REMOVED***
</div***REMOVED***
<layout-footer***REMOVED***</layout-footer***REMOVED***
</body***REMOVED***

</html***REMOVED***
