<!-- Masthead
================================================== --***REMOVED***
<header class="jumbotron subhead" id="overview"***REMOVED***
  <div class="container"***REMOVED***
    <h1***REMOVED***{{_i***REMOVED******REMOVED***Customize and download{{/i***REMOVED******REMOVED***</h1***REMOVED***
    <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***<a href="https://github.com/twitter/bootstrap/zipball/master"***REMOVED***Download Bootstrap</a***REMOVED*** or customize variables, components, JavaScript plugins, and more.{{/i***REMOVED******REMOVED***</p***REMOVED***
  </div***REMOVED***
</header***REMOVED***


  <div class="container"***REMOVED***

    <!-- Docs nav
    ================================================== --***REMOVED***
    <div class="row"***REMOVED***
      <div class="span3 bs-docs-sidebar"***REMOVED***
        <ul class="nav nav-list bs-docs-sidenav"***REMOVED***
          <li***REMOVED***<a href="#components"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***1. Choose components{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#plugins"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***2. Select jQuery plugins{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#variables"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***3. Customize variables{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#download"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***4. Download{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
        </ul***REMOVED***
      </div***REMOVED***
      <div class="span9"***REMOVED***


        <!-- Customize form
        ================================================== --***REMOVED***
        <form***REMOVED***
          <section class="download" id="components"***REMOVED***
            <div class="page-header"***REMOVED***
              <a class="btn btn-small pull-right toggle-all" href="#"***REMOVED***{{_i***REMOVED******REMOVED***Toggle all{{/i***REMOVED******REMOVED***</a***REMOVED***
              <h1***REMOVED***
                {{_i***REMOVED******REMOVED***1. Choose components{{/i***REMOVED******REMOVED***
              </h1***REMOVED***
            </div***REMOVED***
            <div class="row download-builder"***REMOVED***
              <div class="span3"***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Scaffolding{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="reset.less"***REMOVED*** {{_i***REMOVED******REMOVED***Normalize and reset{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="scaffolding.less"***REMOVED*** {{_i***REMOVED******REMOVED***Body type and links{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="grid.less"***REMOVED*** {{_i***REMOVED******REMOVED***Grid system{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="layouts.less"***REMOVED*** {{_i***REMOVED******REMOVED***Layouts{{/i***REMOVED******REMOVED***</label***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Base CSS{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="type.less"***REMOVED*** {{_i***REMOVED******REMOVED***Headings, body, etc{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="code.less"***REMOVED*** {{_i***REMOVED******REMOVED***Code and pre{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="labels-badges.less"***REMOVED*** {{_i***REMOVED******REMOVED***Labels and badges{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="tables.less"***REMOVED*** {{_i***REMOVED******REMOVED***Tables{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="forms.less"***REMOVED*** {{_i***REMOVED******REMOVED***Forms{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="buttons.less"***REMOVED*** {{_i***REMOVED******REMOVED***Buttons{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="sprites.less"***REMOVED*** {{_i***REMOVED******REMOVED***Icons{{/i***REMOVED******REMOVED***</label***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
              <div class="span3"***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Components{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="button-groups.less"***REMOVED*** {{_i***REMOVED******REMOVED***Button groups and dropdowns{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="navs.less"***REMOVED*** {{_i***REMOVED******REMOVED***Navs, tabs, and pills{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="navbar.less"***REMOVED*** {{_i***REMOVED******REMOVED***Navbar{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="breadcrumbs.less"***REMOVED*** {{_i***REMOVED******REMOVED***Breadcrumbs{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="pagination.less"***REMOVED*** {{_i***REMOVED******REMOVED***Pagination{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="pager.less"***REMOVED*** {{_i***REMOVED******REMOVED***Pager{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="thumbnails.less"***REMOVED*** {{_i***REMOVED******REMOVED***Thumbnails{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="alerts.less"***REMOVED*** {{_i***REMOVED******REMOVED***Alerts{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="progress-bars.less"***REMOVED*** {{_i***REMOVED******REMOVED***Progress bars{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="hero-unit.less"***REMOVED*** {{_i***REMOVED******REMOVED***Hero unit{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="media.less"***REMOVED*** {{_i***REMOVED******REMOVED***Media component{{/i***REMOVED******REMOVED***</label***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***JS Components{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="tooltip.less"***REMOVED*** {{_i***REMOVED******REMOVED***Tooltips{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="popovers.less"***REMOVED*** {{_i***REMOVED******REMOVED***Popovers{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="modals.less"***REMOVED*** {{_i***REMOVED******REMOVED***Modals{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="dropdowns.less"***REMOVED*** {{_i***REMOVED******REMOVED***Dropdowns{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="accordion.less"***REMOVED*** {{_i***REMOVED******REMOVED***Collapse{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="carousel.less"***REMOVED*** {{_i***REMOVED******REMOVED***Carousel{{/i***REMOVED******REMOVED***</label***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
              <div class="span3"***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Miscellaneous{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="wells.less"***REMOVED*** {{_i***REMOVED******REMOVED***Wells{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="close.less"***REMOVED*** {{_i***REMOVED******REMOVED***Close icon{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="utilities.less"***REMOVED*** {{_i***REMOVED******REMOVED***Utilities{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="component-animations.less"***REMOVED*** {{_i***REMOVED******REMOVED***Component animations{{/i***REMOVED******REMOVED***</label***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Responsive{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="responsive-utilities.less"***REMOVED*** {{_i***REMOVED******REMOVED***Visible/hidden classes{{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="responsive-767px-max.less"***REMOVED*** {{_i***REMOVED******REMOVED***Narrow tablets and below (<767px){{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="responsive-768px-979px.less"***REMOVED*** {{_i***REMOVED******REMOVED***Tablets to desktops (767-979px){{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="responsive-1200px-min.less"***REMOVED*** {{_i***REMOVED******REMOVED***Large desktops (***REMOVED***1200px){{/i***REMOVED******REMOVED***</label***REMOVED***
                <label class="checkbox"***REMOVED***<input checked="checked" type="checkbox" value="responsive-navbar.less"***REMOVED*** {{_i***REMOVED******REMOVED***Responsive navbar{{/i***REMOVED******REMOVED***</label***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
            </div***REMOVED***<!-- /row --***REMOVED***
          </section***REMOVED***

          <section class="download" id="plugins"***REMOVED***
            <div class="page-header"***REMOVED***
              <a class="btn btn-small pull-right toggle-all" href="#"***REMOVED***{{_i***REMOVED******REMOVED***Toggle all{{/i***REMOVED******REMOVED***</a***REMOVED***
              <h1***REMOVED***
                {{_i***REMOVED******REMOVED***2. Select jQuery plugins{{/i***REMOVED******REMOVED***
              </h1***REMOVED***
            </div***REMOVED***
            <div class="row download-builder"***REMOVED***
              <div class="span3"***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-transition.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Transitions <small***REMOVED***(required for any animation)</small***REMOVED***{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-modal.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Modals{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-dropdown.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Dropdowns{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-scrollspy.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Scrollspy{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-tab.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Togglable tabs{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-tooltip.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Tooltips{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-popover.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Popovers <small***REMOVED***(requires Tooltips)</small***REMOVED***{{/i***REMOVED******REMOVED***
                </label***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
              <div class="span3"***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-affix.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Affix{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-alert.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Alert messages{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-button.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Buttons{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-collapse.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Collapse{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-carousel.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Carousel{{/i***REMOVED******REMOVED***
                </label***REMOVED***
                <label class="checkbox"***REMOVED***
                  <input type="checkbox" checked="true" value="bootstrap-typeahead.js"***REMOVED***
                  {{_i***REMOVED******REMOVED***Typeahead{{/i***REMOVED******REMOVED***
                </label***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
              <div class="span3"***REMOVED***
                <h4 class="muted"***REMOVED***{{_i***REMOVED******REMOVED***Heads up!{{/i***REMOVED******REMOVED***</h4***REMOVED***
                <p class="muted"***REMOVED***{{_i***REMOVED******REMOVED***All checked plugins will be compiled into a single file, bootstrap.js. All plugins require the latest version of <a href="http://jquery.com/" target="_blank"***REMOVED***jQuery</a***REMOVED*** to be included.{{/i***REMOVED******REMOVED***</p***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
            </div***REMOVED***<!-- /row --***REMOVED***
          </section***REMOVED***


          <section class="download" id="variables"***REMOVED***
            <div class="page-header"***REMOVED***
              <a class="btn btn-small pull-right toggle-all" href="#"***REMOVED***{{_i***REMOVED******REMOVED***Reset to defaults{{/i***REMOVED******REMOVED***</a***REMOVED***
              <h1***REMOVED***
                {{_i***REMOVED******REMOVED***3. Customize variables{{/i***REMOVED******REMOVED***
              </h1***REMOVED***
            </div***REMOVED***
            <div class="row download-builder"***REMOVED***
              <div class="span3"***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Scaffolding{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@bodyBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@white"***REMOVED***
                <label***REMOVED***@textColor</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayDark"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Links{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@linkColor</label***REMOVED***
                <input type="text" class="span3" placeholder="#08c"***REMOVED***
                <label***REMOVED***@linkColorHover</label***REMOVED***
                <input type="text" class="span3" placeholder="darken(@linkColor, 15%)"***REMOVED***
                <h3***REMOVED***{{_i***REMOVED******REMOVED***Colors{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@blue</label***REMOVED***
                <input type="text" class="span3" placeholder="#049cdb"***REMOVED***
                <label***REMOVED***@green</label***REMOVED***
                <input type="text" class="span3" placeholder="#46a546"***REMOVED***
                <label***REMOVED***@red</label***REMOVED***
                <input type="text" class="span3" placeholder="#9d261d"***REMOVED***
                <label***REMOVED***@yellow</label***REMOVED***
                <input type="text" class="span3" placeholder="#ffc40d"***REMOVED***
                <label***REMOVED***@orange</label***REMOVED***
                <input type="text" class="span3" placeholder="#f89406"***REMOVED***
                <label***REMOVED***@pink</label***REMOVED***
                <input type="text" class="span3" placeholder="#c3325f"***REMOVED***
                <label***REMOVED***@purple</label***REMOVED***
                <input type="text" class="span3" placeholder="#7a43b6"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Sprites{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@iconSpritePath</label***REMOVED***
                <input type="text" class="span3" placeholder="'../img/glyphicons-halflings.png'"***REMOVED***
                <label***REMOVED***@iconWhiteSpritePath</label***REMOVED***
                <input type="text" class="span3" placeholder="'../img/glyphicons-halflings-white.png'"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Grid system{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@gridColumns</label***REMOVED***
                <input type="text" class="span3" placeholder="12"***REMOVED***
                <label***REMOVED***@gridColumnWidth</label***REMOVED***
                <input type="text" class="span3" placeholder="60px"***REMOVED***
                <label***REMOVED***@gridGutterWidth</label***REMOVED***
                <input type="text" class="span3" placeholder="20px"***REMOVED***
                <label***REMOVED***@gridColumnWidth1200</label***REMOVED***
                <input type="text" class="span3" placeholder="70px"***REMOVED***
                <label***REMOVED***@gridGutterWidth1200</label***REMOVED***
                <input type="text" class="span3" placeholder="30px"***REMOVED***
                <label***REMOVED***@gridColumnWidth768</label***REMOVED***
                <input type="text" class="span3" placeholder="42px"***REMOVED***
                <label***REMOVED***@gridGutterWidth768</label***REMOVED***
                <input type="text" class="span3" placeholder="20px"***REMOVED***

              </div***REMOVED***<!-- /span --***REMOVED***
              <div class="span3"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Typography{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@sansFontFamily</label***REMOVED***
                <input type="text" class="span3" placeholder="'Helvetica Neue', Helvetica, Arial, sans-serif"***REMOVED***
                <label***REMOVED***@serifFontFamily</label***REMOVED***
                <input type="text" class="span3" placeholder="Georgia, 'Times New Roman', Times, serif"***REMOVED***
                <label***REMOVED***@monoFontFamily</label***REMOVED***
                <input type="text" class="span3" placeholder="Menlo, Monaco, 'Courier New', monospace"***REMOVED***

                <label***REMOVED***@baseFontSize</label***REMOVED***
                <input type="text" class="span3" placeholder="14px"***REMOVED***
                <label***REMOVED***@baseFontFamily</label***REMOVED***
                <input type="text" class="span3" placeholder="@sansFontFamily"***REMOVED***
                <label***REMOVED***@baseLineHeight</label***REMOVED***
                <input type="text" class="span3" placeholder="20px"***REMOVED***

                <label***REMOVED***@altFontFamily</label***REMOVED***
                <input type="text" class="span3" placeholder="@serifFontFamily"***REMOVED***
                <label***REMOVED***@headingsFontFamily</label***REMOVED***
                <input type="text" class="span3" placeholder="inherit"***REMOVED***
                <label***REMOVED***@headingsFontWeight</label***REMOVED***
                <input type="text" class="span3" placeholder="bold"***REMOVED***
                <label***REMOVED***@headingsColor</label***REMOVED***
                <input type="text" class="span3" placeholder="inherit"***REMOVED***

                <label***REMOVED***@fontSizeLarge</label***REMOVED***
                <input type="text" class="span3" placeholder="@baseFontSize * 1.25"***REMOVED***
                <label***REMOVED***@fontSizeSmall</label***REMOVED***
                <input type="text" class="span3" placeholder="@baseFontSize * 0.85"***REMOVED***
                <label***REMOVED***@fontSizeMini</label***REMOVED***
                <input type="text" class="span3" placeholder="@baseFontSize * 0.75"***REMOVED***

                <label***REMOVED***@paddingLarge</label***REMOVED***
                <input type="text" class="span3" placeholder="11px 19px"***REMOVED***
                <label***REMOVED***@paddingSmall</label***REMOVED***
                <input type="text" class="span3" placeholder="2px 10px"***REMOVED***
                <label***REMOVED***@paddingMini</label***REMOVED***
                <input type="text" class="span3" placeholder="1px 6px"***REMOVED***

                <label***REMOVED***@baseBorderRadius</label***REMOVED***
                <input type="text" class="span3" placeholder="4px"***REMOVED***
                <label***REMOVED***@borderRadiusLarge</label***REMOVED***
                <input type="text" class="span3" placeholder="6px"***REMOVED***
                <label***REMOVED***@borderRadiusSmall</label***REMOVED***
                <input type="text" class="span3" placeholder="3px"***REMOVED***

                <label***REMOVED***@heroUnitBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayLighter"***REMOVED***
                <label***REMOVED***@heroUnitHeadingColor</label***REMOVED***
                <input type="text" class="span3" placeholder="inherit"***REMOVED***
                <label***REMOVED***@heroUnitLeadColor</label***REMOVED***
                <input type="text" class="span3" placeholder="inherit"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Tables{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@tableBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="transparent"***REMOVED***
                <label***REMOVED***@tableBackgroundAccent</label***REMOVED***
                <input type="text" class="span3" placeholder="#f9f9f9"***REMOVED***
                <label***REMOVED***@tableBackgroundHover</label***REMOVED***
                <input type="text" class="span3" placeholder="#f5f5f5"***REMOVED***
                <label***REMOVED***@tableBorder</label***REMOVED***
                <input type="text" class="span3" placeholder="#ddd"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Forms{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@placeholderText</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayLight"***REMOVED***
                <label***REMOVED***@inputBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@white"***REMOVED***
                <label***REMOVED***@inputBorder</label***REMOVED***
                <input type="text" class="span3" placeholder="#ccc"***REMOVED***
                <label***REMOVED***@inputBorderRadius</label***REMOVED***
                <input type="text" class="span3" placeholder="3px"***REMOVED***
                <label***REMOVED***@inputDisabledBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayLighter"***REMOVED***
                <label***REMOVED***@formActionsBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="#f5f5f5"***REMOVED***
                <label***REMOVED***@btnPrimaryBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@linkColor"***REMOVED***
                <label***REMOVED***@btnPrimaryBackgroundHighlight</label***REMOVED***
                <input type="text" class="span3" placeholder="darken(@white, 10%)"***REMOVED***

              </div***REMOVED***<!-- /span --***REMOVED***
              <div class="span3"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Form states &amp; alerts{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@warningText</label***REMOVED***
                <input type="text" class="span3" placeholder="#c09853"***REMOVED***
                <label***REMOVED***@warningBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="#fcf8e3"***REMOVED***
                <label***REMOVED***@errorText</label***REMOVED***
                <input type="text" class="span3" placeholder="#b94a48"***REMOVED***
                <label***REMOVED***@errorBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="#f2dede"***REMOVED***
                <label***REMOVED***@successText</label***REMOVED***
                <input type="text" class="span3" placeholder="#468847"***REMOVED***
                <label***REMOVED***@successBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="#dff0d8"***REMOVED***
                <label***REMOVED***@infoText</label***REMOVED***
                <input type="text" class="span3" placeholder="#3a87ad"***REMOVED***
                <label***REMOVED***@infoBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="#d9edf7"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Navbar{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@navbarHeight</label***REMOVED***
                <input type="text" class="span3" placeholder="40px"***REMOVED***
                <label***REMOVED***@navbarBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayDarker"***REMOVED***
                <label***REMOVED***@navbarBackgroundHighlight</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayDark"***REMOVED***
                <label***REMOVED***@navbarText</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayLight"***REMOVED***
                <label***REMOVED***@navbarBrandColor</label***REMOVED***
                <input type="text" class="span3" placeholder="@navbarLinkColor"***REMOVED***
                <label***REMOVED***@navbarLinkColor</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayLight"***REMOVED***
                <label***REMOVED***@navbarLinkColorHover</label***REMOVED***
                <input type="text" class="span3" placeholder="@white"***REMOVED***
                <label***REMOVED***@navbarLinkColorActive</label***REMOVED***
                <input type="text" class="span3" placeholder="@navbarLinkColorHover"***REMOVED***
                <label***REMOVED***@navbarLinkBackgroundHover</label***REMOVED***
                <input type="text" class="span3" placeholder="transparent"***REMOVED***
                <label***REMOVED***@navbarLinkBackgroundActive</label***REMOVED***
                <input type="text" class="span3" placeholder="@navbarBackground"***REMOVED***
                <label***REMOVED***@navbarSearchBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="lighten(@navbarBackground, 25%)"***REMOVED***
                <label***REMOVED***@navbarSearchBackgroundFocus</label***REMOVED***
                <input type="text" class="span3" placeholder="@white"***REMOVED***
                <label***REMOVED***@navbarSearchBorder</label***REMOVED***
                <input type="text" class="span3" placeholder="darken(@navbarSearchBackground, 30%)"***REMOVED***
                <label***REMOVED***@navbarSearchPlaceholderColor</label***REMOVED***
                <input type="text" class="span3" placeholder="#ccc"***REMOVED***

                <label***REMOVED***@navbarCollapseWidth</label***REMOVED***
                <input type="text" class="span3" placeholder="979px"***REMOVED***
                <label***REMOVED***@navbarCollapseDesktopWidth</label***REMOVED***
                <input type="text" class="span3" placeholder="@navbarCollapseWidth + 1"***REMOVED***

                <h3***REMOVED***{{_i***REMOVED******REMOVED***Dropdowns{{/i***REMOVED******REMOVED***</h3***REMOVED***
                <label***REMOVED***@dropdownBackground</label***REMOVED***
                <input type="text" class="span3" placeholder="@white"***REMOVED***
                <label***REMOVED***@dropdownBorder</label***REMOVED***
                <input type="text" class="span3" placeholder="rgba(0,0,0,.2)"***REMOVED***
                <label***REMOVED***@dropdownLinkColor</label***REMOVED***
                <input type="text" class="span3" placeholder="@grayDark"***REMOVED***
                <label***REMOVED***@dropdownLinkColorHover</label***REMOVED***
                <input type="text" class="span3" placeholder="@white"***REMOVED***
                <label***REMOVED***@dropdownLinkBackgroundHover</label***REMOVED***
                <input type="text" class="span3" placeholder="@linkColor"***REMOVED***
              </div***REMOVED***<!-- /span --***REMOVED***
            </div***REMOVED***<!-- /row --***REMOVED***
          </section***REMOVED***

          <section class="download" id="download"***REMOVED***
            <div class="page-header"***REMOVED***
              <h1***REMOVED***
                {{_i***REMOVED******REMOVED***4. Download{{/i***REMOVED******REMOVED***
              </h1***REMOVED***
            </div***REMOVED***
            <div class="download-btn"***REMOVED***
              <a class="btn btn-primary" href="#" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Customize', 'Download', 'Customize and Download']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Customize and Download{{/i***REMOVED******REMOVED***</a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***What's included?{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Downloads include compiled CSS, compiled and minified CSS, and compiled jQuery plugins, all nicely packed up into a zipball for your convenience.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </div***REMOVED***
          </section***REMOVED***<!-- /download --***REMOVED***
        </form***REMOVED***



      </div***REMOVED***{{! /span9 ***REMOVED******REMOVED***
    </div***REMOVED***{{! row***REMOVED******REMOVED***

  </div***REMOVED***{{! /.container ***REMOVED******REMOVED***
