<!-- Subhead
================================================== --***REMOVED***
<header class="jumbotron subhead" id="overview"***REMOVED***
  <div class="container"***REMOVED***
    <h1***REMOVED***{{_i***REMOVED******REMOVED***Getting started{{/i***REMOVED******REMOVED***</h1***REMOVED***
    <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***Overview of the project, its contents, and how to get started with a simple template.{{/i***REMOVED******REMOVED***</p***REMOVED***
  </div***REMOVED***
</header***REMOVED***


  <div class="container"***REMOVED***

    <!-- Docs nav
    ================================================== --***REMOVED***
    <div class="row"***REMOVED***
      <div class="span3 bs-docs-sidebar"***REMOVED***
        <ul class="nav nav-list bs-docs-sidenav"***REMOVED***
          <li***REMOVED***<a href="#download-bootstrap"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***Download{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#file-structure"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***File structure{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#contents"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***What's included{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#html-template"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***HTML template{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#examples"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***Examples{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li***REMOVED***<a href="#what-next"***REMOVED***<i class="icon-chevron-right"***REMOVED***</i***REMOVED*** {{_i***REMOVED******REMOVED***What next?{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
        </ul***REMOVED***
      </div***REMOVED***
      <div class="span9"***REMOVED***



        <!-- Download
        ================================================== --***REMOVED***
        <section id="download-bootstrap"***REMOVED***
          <div class="page-header"***REMOVED***
            <h1***REMOVED***{{_i***REMOVED******REMOVED***1. Download{{/i***REMOVED******REMOVED***</h1***REMOVED***
          </div***REMOVED***
          <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***Before downloading, be sure to have a code editor (we recommend <a href="http://sublimetext.com/2"***REMOVED***Sublime Text 2</a***REMOVED***) and some working knowledge of HTML and CSS. We won't walk through the source files here, but they are available for download. We'll focus on getting started with the compiled Bootstrap files.{{/i***REMOVED******REMOVED***</p***REMOVED***

          <div class="row-fluid"***REMOVED***
            <div class="span6"***REMOVED***
              <h2***REMOVED***{{_i***REMOVED******REMOVED***Download compiled{{/i***REMOVED******REMOVED***</h2***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***<strong***REMOVED***Fastest way to get started:</strong***REMOVED*** get the compiled and minified versions of our CSS, JS, and images. No docs or original source files.{{/i***REMOVED******REMOVED***</p***REMOVED***
              <p***REMOVED***<a class="btn btn-large btn-primary" href="assets/bootstrap.zip" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Download Bootstrap{{/i***REMOVED******REMOVED***</a***REMOVED***</p***REMOVED***
            </div***REMOVED***
            <div class="span6"***REMOVED***
              <h2***REMOVED***Download source</h2***REMOVED***
              <p***REMOVED***Get the original files for all CSS and JavaScript, along with a local copy of the docs by downloading the latest version directly from GitHub.</p***REMOVED***
              <p***REMOVED***<a class="btn btn-large" href="https://github.com/twitter/bootstrap/zipball/master" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download source']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Download Bootstrap source{{/i***REMOVED******REMOVED***</a***REMOVED***</p***REMOVED***
            </div***REMOVED***
          </div***REMOVED***
        </section***REMOVED***



        <!-- File structure
        ================================================== --***REMOVED***
        <section id="file-structure"***REMOVED***
          <div class="page-header"***REMOVED***
            <h1***REMOVED***{{_i***REMOVED******REMOVED***2. File structure{{/i***REMOVED******REMOVED***</h1***REMOVED***
          </div***REMOVED***
          <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Once downloaded, unzip the compressed folder to see the structure of (the compiled) Bootstrap. You'll see something like this:{{/i***REMOVED******REMOVED***</p***REMOVED***
<pre class="prettyprint"***REMOVED***
  bootstrap/
  ├── css/
  │   ├── bootstrap.css
  │   ├── bootstrap.min.css
  ├── js/
  │   ├── bootstrap.js
  │   ├── bootstrap.min.js
  └── img/
      ├── glyphicons-halflings.png
      └── glyphicons-halflings-white.png
</pre***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***This is the most basic form of Bootstrap: compiled files for quick drop-in usage in nearly any web project. We provide compiled CSS and JS (<code***REMOVED***bootstrap.*</code***REMOVED***), as well as compiled and minified CSS and JS (<code***REMOVED***bootstrap.min.*</code***REMOVED***). The image files are compressed using <a href="http://imageoptim.com/"***REMOVED***ImageOptim</a***REMOVED***, a Mac app for compressing PNGs.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Please note that all JavaScript plugins require jQuery to be included.{{/i***REMOVED******REMOVED***</p***REMOVED***
        </section***REMOVED***



        <!-- Contents
        ================================================== --***REMOVED***
        <section id="contents"***REMOVED***
          <div class="page-header"***REMOVED***
            <h1***REMOVED***{{_i***REMOVED******REMOVED***3. What's included{{/i***REMOVED******REMOVED***</h1***REMOVED***
          </div***REMOVED***
          <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***Bootstrap comes equipped with HTML, CSS, and JS for all sorts of things, but they can be summarized with a handful of categories visible at the top of the <a href="http://getbootstrap.com"***REMOVED***Bootstrap documentation</a***REMOVED***.{{/i***REMOVED******REMOVED***</p***REMOVED***

          <h2***REMOVED***{{_i***REMOVED******REMOVED***Docs sections{{/i***REMOVED******REMOVED***</h2***REMOVED***
          <h4***REMOVED***<a href="http://twitter.github.com/bootstrap/scaffolding.html"***REMOVED***{{_i***REMOVED******REMOVED***Scaffolding{{/i***REMOVED******REMOVED***</a***REMOVED***</h4***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Global styles for the body to reset type and background, link styles, grid system, and two simple layouts.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <h4***REMOVED***<a href="http://twitter.github.com/bootstrap/base-css.html"***REMOVED***{{_i***REMOVED******REMOVED***Base CSS{{/i***REMOVED******REMOVED***</a***REMOVED***</h4***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Styles for common HTML elements like typography, code, tables, forms, and buttons. Also includes <a href="http://glyphicons.com"***REMOVED***Glyphicons</a***REMOVED***, a great little icon set.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <h4***REMOVED***<a href="http://twitter.github.com/bootstrap/components.html"***REMOVED***{{_i***REMOVED******REMOVED***Components{{/i***REMOVED******REMOVED***</a***REMOVED***</h4***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Basic styles for common interface components like tabs and pills, navbar, alerts, page headers, and more.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <h4***REMOVED***<a href="http://twitter.github.com/bootstrap/javascript.html"***REMOVED***{{_i***REMOVED******REMOVED***JavaScript plugins{{/i***REMOVED******REMOVED***</a***REMOVED***</h4***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Similar to Components, these JavaScript plugins are interactive components for things like tooltips, popovers, modals, and more.{{/i***REMOVED******REMOVED***</p***REMOVED***

          <h2***REMOVED***{{_i***REMOVED******REMOVED***List of components{{/i***REMOVED******REMOVED***</h2***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Together, the <strong***REMOVED***Components</strong***REMOVED*** and <strong***REMOVED***JavaScript plugins</strong***REMOVED*** sections provide the following interface elements:{{/i***REMOVED******REMOVED***</p***REMOVED***
          <ul***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Button groups{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Button dropdowns{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Navigational tabs, pills, and lists{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Navbar{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Labels{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Badges{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Page headers and hero unit{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Thumbnails{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Alerts{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Progress bars{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Modals{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Dropdowns{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Tooltips{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Popovers{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Accordion{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Carousel{{/i***REMOVED******REMOVED***</li***REMOVED***
            <li***REMOVED***{{_i***REMOVED******REMOVED***Typeahead{{/i***REMOVED******REMOVED***</li***REMOVED***
          </ul***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***In future guides, we may walk through these components individually in more detail. Until then, look for each of these in the documentation for information on how to utilize and customize them.{{/i***REMOVED******REMOVED***</p***REMOVED***
        </section***REMOVED***



        <!-- HTML template
        ================================================== --***REMOVED***
        <section id="html-template"***REMOVED***
          <div class="page-header"***REMOVED***
            <h1***REMOVED***{{_i***REMOVED******REMOVED***4. Basic HTML template{{/i***REMOVED******REMOVED***</h1***REMOVED***
          </div***REMOVED***
          <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***With a brief intro into the contents out of the way, we can focus on putting Bootstrap to use. To do that, we'll utilize a basic HTML template that includes everything we mentioned in the <a href="./getting-started.html#file-structure"***REMOVED***File structure</a***REMOVED***.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***Now, here's a look at a <strong***REMOVED***typical HTML file</strong***REMOVED***:{{/i***REMOVED******REMOVED***</p***REMOVED***
<pre class="prettyprint linenums"***REMOVED***
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;
    &lt;script src="http://code.jquery.com/jquery.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***To make this <strong***REMOVED***a Bootstrapped template</strong***REMOVED***, just include the appropriate CSS and JS files:{{/i***REMOVED******REMOVED***</p***REMOVED***
<pre class="prettyprint linenums"***REMOVED***
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;!-- Bootstrap --&gt;
    &lt;link href="css/bootstrap.min.css" rel="stylesheet" media="screen"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;
    &lt;script src="http://code.jquery.com/jquery.js"&gt;&lt;/script&gt;
    &lt;script src="js/bootstrap.min.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre***REMOVED***
          <p***REMOVED***{{_i***REMOVED******REMOVED***<strong***REMOVED***And you're set!</strong***REMOVED*** With those two files added, you can begin to develop any site or application with Bootstrap.{{/i***REMOVED******REMOVED***</p***REMOVED***
        </section***REMOVED***



        <!-- Examples
        ================================================== --***REMOVED***
        <section id="examples"***REMOVED***
          <div class="page-header"***REMOVED***
            <h1***REMOVED***{{_i***REMOVED******REMOVED***5. Examples{{/i***REMOVED******REMOVED***</h1***REMOVED***
          </div***REMOVED***
          <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***Move beyond the base template with a few example layouts. We encourage folks to iterate on these examples and not simply use them as an end result.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <ul class="thumbnails bootstrap-examples"***REMOVED***
            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/starter-template.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-starter.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Starter template{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***A barebones HTML document with all the Bootstrap CSS and JavaScript included.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***
            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/hero.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-marketing.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Basic marketing site{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Featuring a hero unit for a primary message and three supporting elements.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***
            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/fluid.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-fluid.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Fluid layout{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Uses our new responsive, fluid grid system to create a seamless liquid layout.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***

            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/marketing-narrow.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-marketing-narrow.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Narrow marketing{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Slim, lightweight marketing template for small projects or teams.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***
            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/justified-nav.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-justified-nav.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Justified nav{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Marketing page with equal-width navigation links in a modified navbar.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***
            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/signin.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-signin.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Sign in{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Barebones sign in form with custom, larger form controls and a flexible layout.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***

            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/sticky-footer.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-sticky-footer.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Sticky footer{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***Pin a fixed-height footer to the bottom of the user's viewport.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***
            <li class="span3"***REMOVED***
              <a class="thumbnail" href="examples/carousel.html"***REMOVED***
                <img src="assets/img/examples/bootstrap-example-carousel.png" alt=""***REMOVED***
              </a***REMOVED***
              <h4***REMOVED***{{_i***REMOVED******REMOVED***Carousel jumbotron{{/i***REMOVED******REMOVED***</h4***REMOVED***
              <p***REMOVED***{{_i***REMOVED******REMOVED***A more interactive riff on the basic marketing site featuring a prominent carousel.{{/i***REMOVED******REMOVED***</p***REMOVED***
            </li***REMOVED***
          </ul***REMOVED***
        </section***REMOVED***




        <!-- Next
        ================================================== --***REMOVED***
        <section id="what-next"***REMOVED***
          <div class="page-header"***REMOVED***
            <h1***REMOVED***{{_i***REMOVED******REMOVED***What next?{{/i***REMOVED******REMOVED***</h1***REMOVED***
          </div***REMOVED***
          <p class="lead"***REMOVED***{{_i***REMOVED******REMOVED***Head to the docs for information, examples, and code snippets, or take the next leap and customize Bootstrap for any upcoming project.{{/i***REMOVED******REMOVED***</p***REMOVED***
          <a class="btn btn-large btn-primary" href="./scaffolding.html" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Getting started', 'Next steps', 'Visit docs']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Visit the Bootstrap docs{{/i***REMOVED******REMOVED***</a***REMOVED***
          <a class="btn btn-large" href="./customize.html" style="margin-left: 5px;" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Getting started', 'Next steps', 'Customize']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Customize Bootstrap{{/i***REMOVED******REMOVED***</a***REMOVED***
        </section***REMOVED***




      </div***REMOVED***{{! /span9 ***REMOVED******REMOVED***
    </div***REMOVED***{{! row***REMOVED******REMOVED***

  </div***REMOVED***{{! /.container ***REMOVED******REMOVED***
