<div class="jumbotron masthead"***REMOVED***
  <div class="container"***REMOVED***
    <h1***REMOVED***{{_i***REMOVED******REMOVED***Bootstrap{{/i***REMOVED******REMOVED***</h1***REMOVED***
    <p***REMOVED***{{_i***REMOVED******REMOVED***Sleek, intuitive, and powerful front-end framework for faster and easier web development.{{/i***REMOVED******REMOVED***</p***REMOVED***
    <p***REMOVED***
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.0']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Download Bootstrap{{/i***REMOVED******REMOVED***</a***REMOVED***
    </p***REMOVED***
    <ul class="masthead-links"***REMOVED***
      <li***REMOVED***
        <a href="http://github.com/twitter/bootstrap" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***GitHub project{{/i***REMOVED******REMOVED***</a***REMOVED***
      </li***REMOVED***
      <li***REMOVED***
        <a href="./getting-started.html#examples" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Examples{{/i***REMOVED******REMOVED***</a***REMOVED***
      </li***REMOVED***
      <li***REMOVED***
        <a href="./extend.html" {{#production***REMOVED******REMOVED***onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);"{{/production***REMOVED******REMOVED******REMOVED***{{_i***REMOVED******REMOVED***Extend{{/i***REMOVED******REMOVED***</a***REMOVED***
      </li***REMOVED***
      <li***REMOVED***
        {{_i***REMOVED******REMOVED***Version 2.3.0{{/i***REMOVED******REMOVED***
      </li***REMOVED***
    </ul***REMOVED***
  </div***REMOVED***
</div***REMOVED***

<div class="bs-docs-social"***REMOVED***
  <div class="container"***REMOVED***
    <ul class="bs-docs-social-buttons"***REMOVED***
      <li***REMOVED***
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"***REMOVED***</iframe***REMOVED***
      </li***REMOVED***
      <li***REMOVED***
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"***REMOVED***</iframe***REMOVED***
      </li***REMOVED***
      <li class="follow-btn"***REMOVED***
        <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true"***REMOVED***{{_i***REMOVED******REMOVED***Follow @twbootstrap{{/i***REMOVED******REMOVED***</a***REMOVED***
      </li***REMOVED***
      <li class="tweet-btn"***REMOVED***
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap"***REMOVED***Tweet</a***REMOVED***
      </li***REMOVED***
    </ul***REMOVED***
  </div***REMOVED***
</div***REMOVED***

<div class="container"***REMOVED***

  <div class="marketing"***REMOVED***

    <h1***REMOVED***{{_i***REMOVED******REMOVED***Introducing Bootstrap.{{/i***REMOVED******REMOVED***</h1***REMOVED***
    <p class="marketing-byline"***REMOVED***{{_i***REMOVED******REMOVED***Need reasons to love Bootstrap? Look no further.{{/i***REMOVED******REMOVED***</p***REMOVED***

    <div class="row-fluid"***REMOVED***
      <div class="span4"***REMOVED***
        <img class="marketing-img" src="assets/img/bs-docs-twitter-github.png"***REMOVED***
        <h2***REMOVED***{{_i***REMOVED******REMOVED***By nerds, for nerds.{{/i***REMOVED******REMOVED***</h2***REMOVED***
        <p***REMOVED***{{_i***REMOVED******REMOVED***Built at Twitter by <a href="http://twitter.com/mdo"***REMOVED***@mdo</a***REMOVED*** and <a href="http://twitter.com/fat"***REMOVED***@fat</a***REMOVED***, Bootstrap utilizes <a href="http://lesscss.org"***REMOVED***LESS CSS</a***REMOVED***, is compiled via <a href="http://nodejs.org"***REMOVED***Node</a***REMOVED***, and is managed through <a href="http://github.com"***REMOVED***GitHub</a***REMOVED*** to help nerds do awesome stuff on the web.{{/i***REMOVED******REMOVED***</p***REMOVED***
      </div***REMOVED***
      <div class="span4"***REMOVED***
        <img class="marketing-img" src="assets/img/bs-docs-responsive-illustrations.png"***REMOVED***
        <h2***REMOVED***{{_i***REMOVED******REMOVED***Made for everyone.{{/i***REMOVED******REMOVED***</h2***REMOVED***
        <p***REMOVED***{{_i***REMOVED******REMOVED***Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via <a href="./scaffolding.html#responsive"***REMOVED***responsive CSS</a***REMOVED*** as well.{{/i***REMOVED******REMOVED***</p***REMOVED***
      </div***REMOVED***
      <div class="span4"***REMOVED***
        <img class="marketing-img" src="assets/img/bs-docs-bootstrap-features.png"***REMOVED***
        <h2***REMOVED***{{_i***REMOVED******REMOVED***Packed with features.{{/i***REMOVED******REMOVED***</h2***REMOVED***
        <p***REMOVED***{{_i***REMOVED******REMOVED***A 12-column responsive <a href="./scaffolding.html#gridSystem"***REMOVED***grid</a***REMOVED***, dozens of components, <a href="./javascript.html"***REMOVED***JavaScript plugins</a***REMOVED***, typography, form controls, and even a <a href="./customize.html"***REMOVED***web-based Customizer</a***REMOVED*** to make Bootstrap your own.{{/i***REMOVED******REMOVED***</p***REMOVED***
      </div***REMOVED***
    </div***REMOVED***

    <hr class="soften"***REMOVED***

    <h1***REMOVED***{{_i***REMOVED******REMOVED***Built with Bootstrap.{{/i***REMOVED******REMOVED***</h1***REMOVED***
    <p class="marketing-byline"***REMOVED***{{_i***REMOVED******REMOVED***For even more sites built with Bootstrap, <a href="http://builtwithbootstrap.tumblr.com/" target="_blank"***REMOVED***visit the unofficial Tumblr</a***REMOVED*** or <a href="./getting-started.html#examples"***REMOVED***browse the examples</a***REMOVED***.{{/i***REMOVED******REMOVED***</p***REMOVED***
    <div class="row-fluid"***REMOVED***
      <ul class="thumbnails example-sites"***REMOVED***
        <li class="span3"***REMOVED***
          <a class="thumbnail" href="http://soundready.fm/" target="_blank"***REMOVED***
            <img src="assets/img/example-sites/soundready.png" alt="SoundReady.fm"***REMOVED***
          </a***REMOVED***
        </li***REMOVED***
        <li class="span3"***REMOVED***
          <a class="thumbnail" href="http://kippt.com/" target="_blank"***REMOVED***
            <img src="assets/img/example-sites/kippt.png" alt="Kippt"***REMOVED***
          </a***REMOVED***
        </li***REMOVED***
        <li class="span3"***REMOVED***
          <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank"***REMOVED***
            <img src="assets/img/example-sites/gathercontent.png" alt="Gather Content"***REMOVED***
          </a***REMOVED***
        </li***REMOVED***
        <li class="span3"***REMOVED***
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank"***REMOVED***
            <img src="assets/img/example-sites/jshint.png" alt="JS Hint"***REMOVED***
          </a***REMOVED***
        </li***REMOVED***
      </ul***REMOVED***
     </div***REMOVED***

  </div***REMOVED***{{! /.marketing ***REMOVED******REMOVED***

</div***REMOVED***{{! /.container ***REMOVED******REMOVED***
