<?xml version="1.0" encoding="UTF-8"?***REMOVED***
<configuration***REMOVED***
    <include resource="org/springframework/boot/logging/logback/base.xml"/***REMOVED***
    <!-- Required for Loglevel managment into the Spring Petclinic Admin Server--***REMOVED***
    <jmxConfigurator/***REMOVED***
</configuration***REMOVED***
