    <h2***REMOVED***Find Owners</h2***REMOVED***

    <form class="form-horizontal" id="ownerFindForm"***REMOVED***
        <fieldset***REMOVED***
            <div class="control-group" id="lastName"***REMOVED***
                <label class="control-label"***REMOVED***Last name </label***REMOVED***
                <input ng-model="ownerFindForm.lastName" size="30" maxlength="80"/***REMOVED***
            </div***REMOVED***
            <div class="form-actions"***REMOVED***
                <button type="submit" ng-click="submitOwnerFindForm()"***REMOVED***Find Owner</button***REMOVED***
            </div***REMOVED***
        </fieldset***REMOVED***
    </form***REMOVED***

    <br/***REMOVED***
    <a href="/owners/new"***REMOVED***Add Owner</a***REMOVED***
