    <h2***REMOVED***Find Ownersss</h2***REMOVED***
    <form class="form-horizontal" ng-controller="ownerSearchController"***REMOVED***
        <fieldset***REMOVED***
            <div class="control-group" id="lastName"***REMOVED***
                <label class="control-label"***REMOVED***Last name </label***REMOVED***
                <input ng-model="ownerSearchForm.lastName" size="30" maxlength="80"/***REMOVED***
            </div***REMOVED***
            <div class="form-actions"***REMOVED***
                <button type="submit" ng-click="submitOwnerSearchForm()"***REMOVED***Find Ownerss</button***REMOVED***
            </div***REMOVED***
        </fieldset***REMOVED***
    </form***REMOVED***

    <br/***REMOVED***
    <a href="/owners/new"***REMOVED***Add Ownerss</a***REMOVED***
