<div ng-controller="ownerListController"***REMOVED***
      <table class="table table-striped"***REMOVED***
        <thead***REMOVED***
        <tr***REMOVED***
            <th***REMOVED***Name</th***REMOVED***
            <th***REMOVED***Address</th***REMOVED***
            <th***REMOVED***City</th***REMOVED***
            <th***REMOVED***Telephone</th***REMOVED***
            <th***REMOVED***Pets</th***REMOVED***
        </tr***REMOVED***
        </thead***REMOVED***

        <tr ng-repeat="owner in ownerList"***REMOVED***
            <td***REMOVED***
            	<a ng-click="displayOwnerDetail(owner.id)"***REMOVED***
            		{{owner.firstName***REMOVED******REMOVED*** {{owner.lastName***REMOVED******REMOVED***
            	</a***REMOVED***
            </td***REMOVED***
            <td***REMOVED***{{owner.address***REMOVED******REMOVED*** </td***REMOVED***
            <td***REMOVED***{{owner.city***REMOVED******REMOVED*** </td***REMOVED***
            <td***REMOVED***{{owner.telephone***REMOVED******REMOVED*** </td***REMOVED***
            <td***REMOVED***<span ng-repeat="pet in owner.pets"***REMOVED***{{pet.name + ' '***REMOVED******REMOVED***</span***REMOVED***</td***REMOVED***

        </tr***REMOVED***
    </table***REMOVED***    
</div***REMOVED***
