<?xml version="1.0" encoding="UTF-8"?***REMOVED***
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"***REMOVED***

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"***REMOVED***

	<!-- Appenders --***REMOVED***
	<appender name="console" class="org.apache.log4j.ConsoleAppender"***REMOVED***
		<param name="Target" value="System.out" /***REMOVED***
		<layout class="org.apache.log4j.PatternLayout"***REMOVED***
			<param name="ConversionPattern" value="%-5p: %c - %m%n" /***REMOVED***
		</layout***REMOVED***
	</appender***REMOVED***

	
	<!-- Root Logger --***REMOVED***
	<root***REMOVED***
		<priority value="info" /***REMOVED***<!--
		<level value="info"***REMOVED***</level***REMOVED***
		--***REMOVED***<appender-ref ref="console" /***REMOVED***
	</root***REMOVED***
	
</log4j:configuration***REMOVED***