<?xml version="1.0" encoding="UTF-8"?***REMOVED***
<configuration***REMOVED***
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /***REMOVED***

    <appender name="FILE" class="ch.qos.logback.coreFileAppender"***REMOVED***
        <file***REMOVED***${user.dir***REMOVED***/logs/petclinic-access.log</file***REMOVED***
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"***REMOVED***
            <fileNamePattern***REMOVED***${user.dir***REMOVED***/logs/petclinic-access.%d{yyyy-MM-dd***REMOVED***.log.zip</fileNamePattern***REMOVED***
        </rollingPolicy***REMOVED***

        <encoder***REMOVED***
            <pattern***REMOVED***combined</pattern***REMOVED***
        </encoder***REMOVED***
    </appender***REMOVED***

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"***REMOVED***
        <encoder***REMOVED***
            <pattern***REMOVED***%n%fullRequest%n%fullResponse%n</pattern***REMOVED***
        </encoder***REMOVED***
    </appender***REMOVED***

    <appender-ref ref="FILE" /***REMOVED***
    <appender-ref ref="STDOUT" /***REMOVED***
</configuration***REMOVED***


