<div ng-controller="vetController"***REMOVED***
      <table class="table table-striped"***REMOVED***
        <thead***REMOVED***
        <tr***REMOVED***
            <th***REMOVED***Name</th***REMOVED***
            <th***REMOVED***Specialties</th***REMOVED***
        </tr***REMOVED***
        </thead***REMOVED***

        <tr ng-repeat="vet in vetList"***REMOVED***
            <td***REMOVED***{{vet.firstName***REMOVED******REMOVED*** {{vet.lastName***REMOVED******REMOVED***</td***REMOVED***
            <td***REMOVED***<span ng-repeat="specialty in vet.specialties"***REMOVED***{{specialty.name + ' '***REMOVED******REMOVED***</span***REMOVED***</td***REMOVED***

        </tr***REMOVED***
    </table***REMOVED***    
</div***REMOVED***
