<!DOCTYPE html***REMOVED***
<html lang="en"***REMOVED***
  <head***REMOVED***
    <meta charset="utf-8"***REMOVED***
    <title***REMOVED***{{title***REMOVED******REMOVED***</title***REMOVED***
    <meta name="viewport" content="width=device-width, initial-scale=1.0"***REMOVED***
    <meta name="description" content=""***REMOVED***
    <meta name="author" content=""***REMOVED***

    <!-- Le styles --***REMOVED***
    <link href="assets/css/bootstrap.css" rel="stylesheet"***REMOVED***
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"***REMOVED***
    <link href="assets/css/docs.css" rel="stylesheet"***REMOVED***
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet"***REMOVED***

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --***REMOVED***
    <!--[if lt IE 9]***REMOVED***
      <script src="assets/js/html5shiv.js"***REMOVED***</script***REMOVED***
    <![endif]--***REMOVED***

    <!-- Le fav and touch icons --***REMOVED***
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"***REMOVED***
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"***REMOVED***
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"***REMOVED***
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"***REMOVED***
                                   <link rel="shortcut icon" href="assets/ico/favicon.png"***REMOVED***

    {{#production***REMOVED******REMOVED***
    <script type="text/javascript"***REMOVED***
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146052-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
***REMOVED***)();
    </script***REMOVED***
    {{/production***REMOVED******REMOVED***
  </head***REMOVED***

  <body data-spy="scroll" data-target=".bs-docs-sidebar"***REMOVED***

    <!-- Navbar
    ================================================== --***REMOVED***
    <div class="navbar navbar-inverse navbar-fixed-top"***REMOVED***
      <div class="navbar-inner"***REMOVED***
        <div class="container"***REMOVED***
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"***REMOVED***
            <span class="icon-bar"***REMOVED***</span***REMOVED***
            <span class="icon-bar"***REMOVED***</span***REMOVED***
            <span class="icon-bar"***REMOVED***</span***REMOVED***
          </button***REMOVED***
          <a class="brand" href="./index.html"***REMOVED***Bootstrap</a***REMOVED***
          <div class="nav-collapse collapse"***REMOVED***
            <ul class="nav"***REMOVED***
              <li class="{{index***REMOVED******REMOVED***"***REMOVED***
                <a href="./index.html"***REMOVED***{{_i***REMOVED******REMOVED***Home{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
              <li class="{{getting-started***REMOVED******REMOVED***"***REMOVED***
                <a href="./getting-started.html"***REMOVED***{{_i***REMOVED******REMOVED***Get started{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
              <li class="{{scaffolding***REMOVED******REMOVED***"***REMOVED***
                <a href="./scaffolding.html"***REMOVED***{{_i***REMOVED******REMOVED***Scaffolding{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
              <li class="{{base-css***REMOVED******REMOVED***"***REMOVED***
                <a href="./base-css.html"***REMOVED***{{_i***REMOVED******REMOVED***Base CSS{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
              <li class="{{components***REMOVED******REMOVED***"***REMOVED***
                <a href="./components.html"***REMOVED***{{_i***REMOVED******REMOVED***Components{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
              <li class="{{javascript***REMOVED******REMOVED***"***REMOVED***
                <a href="./javascript.html"***REMOVED***{{_i***REMOVED******REMOVED***JavaScript{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
              <li class="{{customize***REMOVED******REMOVED***"***REMOVED***
                <a href="./customize.html"***REMOVED***{{_i***REMOVED******REMOVED***Customize{{/i***REMOVED******REMOVED***</a***REMOVED***
              </li***REMOVED***
            </ul***REMOVED***
          </div***REMOVED***
        </div***REMOVED***
      </div***REMOVED***
    </div***REMOVED***

{{***REMOVED***body***REMOVED******REMOVED***



    <!-- Footer
    ================================================== --***REMOVED***
    <footer class="footer"***REMOVED***
      <div class="container"***REMOVED***
        <p***REMOVED***{{_i***REMOVED******REMOVED***Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank"***REMOVED***@mdo</a***REMOVED*** and <a href="http://twitter.com/fat" target="_blank"***REMOVED***@fat</a***REMOVED***.{{/i***REMOVED******REMOVED***</p***REMOVED***
        <p***REMOVED***{{_i***REMOVED******REMOVED***Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank"***REMOVED***Apache License v2.0</a***REMOVED***, documentation under <a href="http://creativecommons.org/licenses/by/3.0/"***REMOVED***CC BY 3.0</a***REMOVED***.{{/i***REMOVED******REMOVED***</p***REMOVED***
        <p***REMOVED***{{_i***REMOVED******REMOVED***<a href="http://glyphicons.com"***REMOVED***Glyphicons Free</a***REMOVED*** licensed under <a href="http://creativecommons.org/licenses/by/3.0/"***REMOVED***CC BY 3.0</a***REMOVED***.{{/i***REMOVED******REMOVED***</p***REMOVED***
        <ul class="footer-links"***REMOVED***
          <li***REMOVED***<a href="http://blog.getbootstrap.com"***REMOVED***{{_i***REMOVED******REMOVED***Blog{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li class="muted"***REMOVED***&middot;</li***REMOVED***
          <li***REMOVED***<a href="https://github.com/twitter/bootstrap/issues?state=open"***REMOVED***{{_i***REMOVED******REMOVED***Issues{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
          <li class="muted"***REMOVED***&middot;</li***REMOVED***
          <li***REMOVED***<a href="https://github.com/twitter/bootstrap/blob/master/CHANGELOG.md"***REMOVED***{{_i***REMOVED******REMOVED***Changelog{{/i***REMOVED******REMOVED***</a***REMOVED***</li***REMOVED***
        </ul***REMOVED***
      </div***REMOVED***
    </footer***REMOVED***



    <!-- Le javascript
    ================================================== --***REMOVED***
    <!-- Placed at the end of the document so the pages load faster --***REMOVED***
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/jquery.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-transition.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-alert.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-modal.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-dropdown.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-scrollspy.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-tab.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-tooltip.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-popover.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-button.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-collapse.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-carousel.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-typeahead.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/bootstrap-affix.js"***REMOVED***</script***REMOVED***

    <script src="assets/js/holder/holder.js"***REMOVED***</script***REMOVED***
    <script src="assets/js/google-code-prettify/prettify.js"***REMOVED***</script***REMOVED***

    <script src="assets/js/application.js"***REMOVED***</script***REMOVED***


    {{#production***REMOVED******REMOVED***
    <!-- Analytics
    ================================================== --***REMOVED***
    <script***REMOVED***
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
***REMOVED***)();
    </script***REMOVED***
    {{/production***REMOVED******REMOVED***

  </body***REMOVED***
</html***REMOVED***
