<!DOCTYPE html***REMOVED***

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'error')***REMOVED***"***REMOVED***

  <body***REMOVED***
    <img src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png***REMOVED***"/***REMOVED***
    <h2***REMOVED***Something happened***REMOVED***</h2***REMOVED***
    <p th:text="${message***REMOVED***"***REMOVED***Exception message</p***REMOVED***
  </body***REMOVED***

</html***REMOVED***