<!DOCTYPE html***REMOVED***

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body***REMOVED***,'home')***REMOVED***"***REMOVED***

  <body***REMOVED***

    <h2 th:text="#{welcome***REMOVED***"***REMOVED***Welcome</h2***REMOVED***
    <div class="row"***REMOVED***
        <div class="col-md-12"***REMOVED***
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png***REMOVED***"/***REMOVED***
        </div***REMOVED***
    </div***REMOVED***

  </body***REMOVED***

</html***REMOVED***