<div class="container"***REMOVED***

    <h2***REMOVED***Pet</h2***REMOVED***

    <form class="form-horizontal" name="petForm" data-ng-controller="petFormController"***REMOVED***
        <div class="form-group"***REMOVED***
            <label class="col-sm-2 control-label"***REMOVED***Owner</label***REMOVED***
            <div class="col-sm-6"***REMOVED***
                <p class="form-control-static"***REMOVED***{{pet.owner***REMOVED******REMOVED***</p***REMOVED***
            </div***REMOVED***
        </div***REMOVED***

        <div class="form-group"***REMOVED***
            <label class="col-sm-2 control-label"***REMOVED***Name </label***REMOVED***
            <div class="col-sm-6"***REMOVED***
                <input class="form-control col-sm-4" ng-model="pet.name" name="name" required type="text"/***REMOVED***
                <span ng-show="petForm.name.$error.required" class="help-inline"***REMOVED*** Name is required.</span***REMOVED***
            </div***REMOVED***
        </div***REMOVED***

        <div class="form-group"***REMOVED***
            <label class="col-sm-2 control-label"***REMOVED***Birth date </label***REMOVED***
            <div class="col-sm-6"***REMOVED***
                <input class="form-control" ng-model="pet.birthDate" value="{{pet.birthDate***REMOVED******REMOVED***" required type="text"/***REMOVED***
                <span ng-show="petForm.name.$error.required" class="help-inline"***REMOVED*** birth date is required.</span***REMOVED***
            </div***REMOVED***
        </div***REMOVED***

        <div class="form-group"***REMOVED***
            <label class="col-sm-2 control-label"***REMOVED***Type </label***REMOVED***
            <div class="col-sm-6"***REMOVED***
                <select class="form-control" ng-model="pet.type.id"***REMOVED***
                    <option ng-repeat="x in types" value="{{x.id***REMOVED******REMOVED***"***REMOVED***{{x.name***REMOVED******REMOVED***</option***REMOVED***
                </select***REMOVED***
            </div***REMOVED***
        </div***REMOVED***
    </form***REMOVED***
</div***REMOVED***
