<!DOCTYPE html***REMOVED*** 

<script***REMOVED***
    $(function () {
        $("#birthDate").datepicker({ dateFormat: 'yy/mm/dd'***REMOVED***);
    ***REMOVED***);
</script***REMOVED***
<div class="container"***REMOVED***

    <h2***REMOVED***Pet (work in progress) </h2***REMOVED***
    <form class="form-horizontal" name="petForm" data-ng-controller="petFormController"***REMOVED***
    	<fieldset***REMOVED***
	        <div class="control-group" id="owner"***REMOVED***
	            <label class="control-label"***REMOVED*** Owner </label***REMOVED***
	            {{pet.owner.firstName***REMOVED******REMOVED*** {{pet.owner.lastName***REMOVED******REMOVED***
	        </div***REMOVED***
    		<div class="control-group" id="name"***REMOVED***
                <label class="control-label"***REMOVED***Name </label***REMOVED***
                <input ng-model="pet.name" name="name" required/***REMOVED***
                <span ng-show="petForm.name.$error.required" class="help-inline"***REMOVED*** Name is required.</span***REMOVED***
            </div***REMOVED***
    		<div class="control-group" id="birthDate"***REMOVED***
                <label class="control-label"***REMOVED***Birth date </label***REMOVED***
                <input ng-model="pet.birthDate" value="{{pet.birthDate | date:'MM/dd/yyyy'***REMOVED******REMOVED*** name="birthDate" required/***REMOVED***
                <span ng-show="petForm.name.$error.required" class="help-inline"***REMOVED*** birth date is required.</span***REMOVED***
            </div***REMOVED***


        <div class="control-group"***REMOVED***
            <petclinic:selectField name="type" label="Type " names="${types***REMOVED***" size="5"/***REMOVED***
        </div***REMOVED***
        <div class="form-actions"***REMOVED***
            <c:choose***REMOVED***
                <c:when test="${pet['new']***REMOVED***"***REMOVED***
                    <button type="submit"***REMOVED***Add Pet</button***REMOVED***
                </c:when***REMOVED***
                <c:otherwise***REMOVED***
                    <button type="submit"***REMOVED***Update Pet</button***REMOVED***
                </c:otherwise***REMOVED***
            </c:choose***REMOVED***
        </div***REMOVED***
        </fieldset***REMOVED***
    </form***REMOVED***
</div***REMOVED***
