
<img src="resources/images/banner-graphic.png" var="banner"/***REMOVED***

<div class="navbar" style="width: 601px;"***REMOVED***
    <div class="navbar-inner"***REMOVED***
        <ul class="nav"***REMOVED*** 
            <li style="width: 120px;"***REMOVED***
            	<a ui-sref="app"***REMOVED***<i class="icon-home"***REMOVED***</i***REMOVED*** Home</a***REMOVED***
            </li***REMOVED***
            <li style="width: 150px;"***REMOVED***
            	<a ui-sref="app.ownersearch"***REMOVED***<i class="icon-search"***REMOVED***</i***REMOVED*** Find owners</a***REMOVED***
            </li***REMOVED***
            <li style="width: 160px;"***REMOVED***
            	<a ui-sref="app.vets"***REMOVED***<i class="icon-th-list"***REMOVED***</i***REMOVED*** Veterinarians</a***REMOVED***
            </li***REMOVED***
            <li style="width: 110px;"***REMOVED***
            	<a href="oups.html" title="trigger a RuntimeException to see how it is handled"***REMOVED***
            	<i class="icon-warning-sign"***REMOVED***</i***REMOVED*** Error</a***REMOVED***
            </li***REMOVED***
        </ul***REMOVED***
    </div***REMOVED***
</div***REMOVED***
	
