<nav class="navbar navbar-default"***REMOVED***
    <div class="container-fluid"***REMOVED***
        <!-- Brand and toggle get grouped for better mobile display --***REMOVED***
        <div class="navbar-header"***REMOVED***
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"***REMOVED***
                <span class="sr-only"***REMOVED***Toggle navigation</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
            </button***REMOVED***
            <a class="navbar-brand" ui-sref="app"***REMOVED***Pet Clinic</a***REMOVED***

        </div***REMOVED***

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"***REMOVED***
            <ul class="nav navbar-nav"***REMOVED***
                <li***REMOVED***<a ui-sref="app"***REMOVED***Home</a***REMOVED***</li***REMOVED***
                <li***REMOVED***<a ui-sref="app.ownersearch"***REMOVED***Owner</a***REMOVED***</li***REMOVED***
                <li***REMOVED***<a ui-sref="app.vets"***REMOVED***Vets</a***REMOVED***</li***REMOVED***
            </ul***REMOVED***
        </div***REMOVED***
    </div***REMOVED***
</nav***REMOVED***