<nav class="navbar navbar-default"***REMOVED***
    <div class="container-fluid"***REMOVED***
        <div class="navbar-header"***REMOVED***
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#main-navbar" aria-expanded="false"***REMOVED***
                <span class="sr-only"***REMOVED***Toggle navigation</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
            </button***REMOVED***
            <a class="navbar-brand" href="#"***REMOVED***Pet Clinic</a***REMOVED***
        </div***REMOVED***

        <div class="collapse navbar-collapse" id="main-navbar"***REMOVED***
            <ul class="nav navbar-nav"***REMOVED***
                <li***REMOVED***<a href="#!/welcome"***REMOVED***Home</a***REMOVED***</li***REMOVED***

                <li class="dropdown"***REMOVED***
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"***REMOVED***Owners <span class="caret"***REMOVED***</span***REMOVED***</a***REMOVED***
                    <ul class="dropdown-menu"***REMOVED***
                        <li***REMOVED***<a href="#!/owners"***REMOVED***All</a***REMOVED***</li***REMOVED***
                        <li***REMOVED***<a href="#!/new-owner"***REMOVED***Register</a***REMOVED***</li***REMOVED***
                    </ul***REMOVED***
                </li***REMOVED***

                <li***REMOVED***<a href="#!/vets"***REMOVED***Vets</a***REMOVED***</li***REMOVED***
            </ul***REMOVED***
        </div***REMOVED***
    </div***REMOVED***
</nav***REMOVED***