<div class="container"***REMOVED***

    <h2***REMOVED***Owner Information</h2***REMOVED***

    <table class="table table-striped" style="width:600px;"***REMOVED***
        <tr***REMOVED***
            <th***REMOVED***Name</th***REMOVED***
            <td***REMOVED***<b***REMOVED***{{owner.firstName***REMOVED******REMOVED*** {{owner.lastName***REMOVED******REMOVED***</b***REMOVED***</td***REMOVED***
        </tr***REMOVED***
        <tr***REMOVED***
            <th***REMOVED***Address</th***REMOVED***
            <td***REMOVED***{{owner.address***REMOVED******REMOVED***</td***REMOVED***
        </tr***REMOVED***
        <tr***REMOVED***
            <th***REMOVED***City</th***REMOVED***
            <td***REMOVED***{{owner.city***REMOVED******REMOVED***</td***REMOVED***
        </tr***REMOVED***
        <tr***REMOVED***
            <th***REMOVED***Telephone</th***REMOVED***
            <td***REMOVED***{{owner.telephone***REMOVED******REMOVED***</td***REMOVED***
        </tr***REMOVED***
         <tr***REMOVED***
            <td***REMOVED*** 
                <a class="btn btn-info" ui-sref="app.owneredit({id: owner.id***REMOVED***)"***REMOVED***Edit Owner</a***REMOVED***</td***REMOVED***
            <td***REMOVED***
                <a ui-sref="app.petcreate({ownerid: owner.id***REMOVED***)"  class="btn btn-success"***REMOVED***Add New Pet</a***REMOVED***
                </td***REMOVED***
        </tr***REMOVED***
    </table***REMOVED***

    <h2***REMOVED***Pets and Visits</h2***REMOVED***

        <table class="table" style="width:600px;"***REMOVED***
            <tr ng-repeat="pet in owner.pets"***REMOVED***
                <td valign="top" style="width: 120px;"***REMOVED***
                    <dl class="dl-horizontal"***REMOVED***
                        <dt***REMOVED***Name</dt***REMOVED***
                        <dd***REMOVED***{{pet.name***REMOVED******REMOVED***</dd***REMOVED***
                        <dt***REMOVED***Birth Date</dt***REMOVED***
                        <dd***REMOVED***{{pet.birthDate | date:'MM/dd/yyyy'***REMOVED******REMOVED***</dd***REMOVED***
                        <dt***REMOVED***Type</dt***REMOVED***
                        <dd***REMOVED***{{pet.type.name***REMOVED******REMOVED***</dd***REMOVED***
                    </dl***REMOVED***
                </td***REMOVED***
                <td valign="top"***REMOVED***
                    <table class="table-condensed"***REMOVED***
                        <thead***REMOVED***
                        <tr***REMOVED***
                            <th***REMOVED***Visit Date</th***REMOVED***
                            <th***REMOVED***Description</th***REMOVED***
                        </tr***REMOVED***
                        </thead***REMOVED***
                            <tr ng-repeat="visit in pet.visits"***REMOVED***
                                <td***REMOVED***{{visit.date | date:'MM/dd/yyyy'***REMOVED******REMOVED***</td***REMOVED***
                                <td***REMOVED***{{visit.description***REMOVED******REMOVED***</td***REMOVED***
                            </tr***REMOVED***
                        <tr***REMOVED***
                            <td***REMOVED*** 
			                    <a ui-sref="app.petedit( {ownerid: owner.id, petid: pet.id***REMOVED***)"***REMOVED***Edit Pet</a***REMOVED***
			                </td***REMOVED***
                            <td***REMOVED***
			                    <***REMOVED***url value="/owners/{ownerId***REMOVED***/pets/{petId***REMOVED***/visits/new" var="visitUrl"***REMOVED***
			                        <***REMOVED***param name="ownerId" value="${owner.id***REMOVED***"/***REMOVED***
			                        <***REMOVED***param name="petId" value="${pet.id***REMOVED***"/***REMOVED***
			                    </***REMOVED***url***REMOVED***
			                    <a href="${fn:escapeXml(visitUrl)***REMOVED***"***REMOVED***Add Visit</a***REMOVED***
                            </td***REMOVED***
                       	</tr***REMOVED***
                    </table***REMOVED***
                </td***REMOVED***
            </tr***REMOVED***
        </table***REMOVED***


</div***REMOVED***
