<h2***REMOVED***Owners</h2***REMOVED***

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;"***REMOVED***
    <div class="form-group"***REMOVED***
        <input type="text" class="form-control" placeholder="Search Filter" ng-model="$ctrl.query" /***REMOVED***
    </div***REMOVED***
</form***REMOVED***

<table class="table table-striped"***REMOVED***
    <thead***REMOVED***
    <tr***REMOVED***
        <th***REMOVED***Name</th***REMOVED***
        <th***REMOVED***Address</th***REMOVED***
        <th***REMOVED***City</th***REMOVED***
        <th***REMOVED***Telephone</th***REMOVED***
        <th***REMOVED***Pets</th***REMOVED***
    </tr***REMOVED***
    </thead***REMOVED***

    <tr ng-repeat="owner in $ctrl.owners | filter:$ctrl.query"***REMOVED***
        <td***REMOVED***
            <a href="#!/owners/{{owner.id***REMOVED******REMOVED***"***REMOVED***
                {{owner.firstName***REMOVED******REMOVED*** {{owner.lastName***REMOVED******REMOVED***
            </a***REMOVED***
        </td***REMOVED***
        <td***REMOVED***{{owner.address***REMOVED******REMOVED***</td***REMOVED***
        <td***REMOVED***{{owner.city***REMOVED******REMOVED***</td***REMOVED***
        <td***REMOVED***{{owner.telephone***REMOVED******REMOVED***</td***REMOVED***
        <td***REMOVED***<span ng-repeat="pet in owner.pets"***REMOVED***{{pet.name + ' '***REMOVED******REMOVED***</span***REMOVED***</td***REMOVED***
    </tr***REMOVED***
</table***REMOVED***