<?xml version="1.0" encoding="UTF-8"?***REMOVED***
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"***REMOVED***

	<!-- Enables clean URLs with JSP views e.g. /welcome instead of /app/welcome --***REMOVED***
	<filter***REMOVED***
		<filter-name***REMOVED***UrlRewriteFilter</filter-name***REMOVED***
		<filter-class***REMOVED***org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class***REMOVED***
	</filter***REMOVED***

	<filter-mapping***REMOVED***
		<filter-name***REMOVED***UrlRewriteFilter</filter-name***REMOVED***
		<url-pattern***REMOVED***/*</url-pattern***REMOVED***
	</filter-mapping***REMOVED***
		
	<!-- Handles all requests into the application --***REMOVED***
	<servlet***REMOVED***
		<servlet-name***REMOVED***Spring MVC Dispatcher Servlet</servlet-name***REMOVED***
		<servlet-class***REMOVED***org.springframework.web.servlet.DispatcherServlet</servlet-class***REMOVED***
		<init-param***REMOVED***
			<param-name***REMOVED***contextConfigLocation</param-name***REMOVED***
			<param-value***REMOVED***
				/WEB-INF/spring/*.xml
			</param-value***REMOVED***
		</init-param***REMOVED***
		<load-on-startup***REMOVED***1</load-on-startup***REMOVED***
	</servlet***REMOVED***
		
	<!-- Maps all /app requests to the DispatcherServlet for handling --***REMOVED***
	<servlet-mapping***REMOVED***
		<servlet-name***REMOVED***Spring MVC Dispatcher Servlet</servlet-name***REMOVED***
		<url-pattern***REMOVED***/app/*</url-pattern***REMOVED***
	</servlet-mapping***REMOVED***

  	<!-- Serves static resource content from the webapp root & .jar files such as spring-js.jar --***REMOVED***
	<servlet***REMOVED***
		<servlet-name***REMOVED***Resources Servlet</servlet-name***REMOVED***
		<servlet-class***REMOVED***org.springframework.js.resource.ResourceServlet</servlet-class***REMOVED***
		<load-on-startup***REMOVED***0</load-on-startup***REMOVED***
	</servlet***REMOVED***
		
	<!-- Map all /resources requests to the Resource Servlet for handling --***REMOVED***
	<servlet-mapping***REMOVED***
		<servlet-name***REMOVED***Resources Servlet</servlet-name***REMOVED***
		<url-pattern***REMOVED***/resources/*</url-pattern***REMOVED***
	</servlet-mapping***REMOVED***	
	
</web-app***REMOVED***
