<nav class="navbar navbar-default" role="navigation"***REMOVED***
        <div class="navbar-header"***REMOVED***
            <a class="navbar-brand" href="#"***REMOVED***<span***REMOVED***</span***REMOVED***</a***REMOVED***
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar"***REMOVED***
                <span class="sr-only"***REMOVED***<os-p***REMOVED***Toggle navigation</os-p***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
                <span class="icon-bar"***REMOVED***</span***REMOVED***
            </button***REMOVED***
        </div***REMOVED***
        <div class="navbar-collapse collapse" id="main-navbar"***REMOVED***
            <ul class="nav navbar-nav navbar-right"***REMOVED***
                <li class="active"***REMOVED***
                    <a href="#!/welcome"
                       title="home page"***REMOVED***
                        <span class="glyphicon glyphicon-home" aria-hidden="true"***REMOVED***</span***REMOVED***
                        <span***REMOVED***Home</span***REMOVED***

                    </a***REMOVED***
                </li***REMOVED***

                <li class="dropdown"***REMOVED***
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"***REMOVED***Owners<span class="caret"***REMOVED***</span***REMOVED***
                    </a***REMOVED***
                    <ul class="dropdown-menu"***REMOVED***
                        <li***REMOVED***<a href="#!/owners"***REMOVED***<span class="glyphicon glyphicon-search" aria-hidden="true"***REMOVED***</span***REMOVED***<span***REMOVED*** All</span***REMOVED***</a***REMOVED***</li***REMOVED***
                        <li***REMOVED***<a href="#!/new-owner"***REMOVED***<span class="glyphicon glyphicon-plus" aria-hidden="true"***REMOVED***</span***REMOVED***<span***REMOVED*** Register</span***REMOVED***</a***REMOVED***</li***REMOVED***
                    </ul***REMOVED***
                </li***REMOVED***

                <li class=""***REMOVED***
                    <a href="#!/vets"
                       title="veterinarians"***REMOVED***

                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"***REMOVED***</span***REMOVED***
                        <span***REMOVED***Veterinarians</span***REMOVED***

                    </a***REMOVED***
                </li***REMOVED***
            </ul***REMOVED***
        </div***REMOVED***
</nav***REMOVED***