<h2***REMOVED***Owner Information</h2***REMOVED***

<table class="table table-striped"***REMOVED***
    <tr***REMOVED***
        <th class="col-sm-3"***REMOVED***Name</th***REMOVED***
        <td***REMOVED***<b***REMOVED***{{$ctrl.owner.firstName***REMOVED******REMOVED*** {{$ctrl.owner.lastName***REMOVED******REMOVED***</b***REMOVED***</td***REMOVED***
    </tr***REMOVED***
    <tr***REMOVED***
        <th***REMOVED***Address</th***REMOVED***
        <td***REMOVED***{{$ctrl.owner.address***REMOVED******REMOVED***</td***REMOVED***
    </tr***REMOVED***
    <tr***REMOVED***
        <th***REMOVED***City</th***REMOVED***
        <td***REMOVED***{{$ctrl.owner.city***REMOVED******REMOVED***</td***REMOVED***
    </tr***REMOVED***
    <tr***REMOVED***
        <th***REMOVED***Telephone</th***REMOVED***
        <td***REMOVED***{{$ctrl.owner.telephone***REMOVED******REMOVED***</td***REMOVED***
    </tr***REMOVED***
    <tr***REMOVED***
        <td***REMOVED***
            <a class="btn btn-default" ui-sref="ownerEdit({ownerId: $ctrl.owner.id***REMOVED***)"***REMOVED***Edit Owner</a***REMOVED***
        </td***REMOVED***
        <td***REMOVED***
            <a ui-sref="petNew({ownerId: $ctrl.owner.id***REMOVED***)" class="btn btn-default"***REMOVED***Add New Pet</a***REMOVED***
        </td***REMOVED***
    </tr***REMOVED***
</table***REMOVED***

<h2***REMOVED***Pets and Visits</h2***REMOVED***

<table class="table table-striped"***REMOVED***
    <tr ng-repeat="pet in $ctrl.owner.pets track by pet.id"***REMOVED***
        <td valign="top"***REMOVED***
            <dl class="dl-horizontal"***REMOVED***
                <dt***REMOVED***Name</dt***REMOVED***
                <dd***REMOVED***<a ui-sref="petEdit({ownerId: $ctrl.owner.id, petId: pet.id***REMOVED***)"***REMOVED***{{pet.name***REMOVED******REMOVED***</a***REMOVED***</dd***REMOVED***
                <dt***REMOVED***Birth Date</dt***REMOVED***
                <dd***REMOVED***{{pet.birthDate | date:'yyyy MMM dd'***REMOVED******REMOVED***</dd***REMOVED***
                <dt***REMOVED***Type</dt***REMOVED***
                <dd***REMOVED***{{pet.type.name***REMOVED******REMOVED***</dd***REMOVED***
            </dl***REMOVED***
        </td***REMOVED***
        <td valign="top"***REMOVED***
            <table class="table-condensed"***REMOVED***
                <thead***REMOVED***
                <tr***REMOVED***
                    <th***REMOVED***Visit Date</th***REMOVED***
                    <th***REMOVED***Description</th***REMOVED***
                </tr***REMOVED***
                </thead***REMOVED***
                <tr ng-repeat="visit in pet.visits track by visit.id"***REMOVED***
                    <td***REMOVED***{{visit.date | date:'yyyy MMM dd'***REMOVED******REMOVED***</td***REMOVED***
                    <td***REMOVED***{{visit.description***REMOVED******REMOVED***</td***REMOVED***
                </tr***REMOVED***
                <tr***REMOVED***
                    <td***REMOVED***
                        <a ui-sref="petEdit({ownerId: $ctrl.owner.id, petId: pet.id***REMOVED***)"***REMOVED***Edit Pet</a***REMOVED***
                    </td***REMOVED***
                    <td***REMOVED***
                        <a ui-sref="visits({ownerId: $ctrl.owner.id, petId: pet.id***REMOVED***)"***REMOVED***Add Visit</a***REMOVED***
                    </td***REMOVED***
                </tr***REMOVED***
            </table***REMOVED***
        </td***REMOVED***
    </tr***REMOVED***
</table***REMOVED***



