<html***REMOVED***
<body***REMOVED***
  <form***REMOVED***
    <th:block th:fragment="input (label, name, type)"***REMOVED***
      <div th:with="valid=${!#fields.hasErrors(name)***REMOVED***"
        th:class="${'form-group' + (valid ? '' : ' has-error')***REMOVED***"
        class="form-group"***REMOVED***
        <label class="col-sm-2 control-label" th:text="${label***REMOVED***"***REMOVED***Label</label***REMOVED***
        <div class="col-sm-10"***REMOVED***
            <div th:switch="${type***REMOVED***"***REMOVED***
                <input th:case="'text'" class="form-control" type="text" th:field="*{__${name***REMOVED***__***REMOVED***" /***REMOVED***
                <input th:case="'date'" class="form-control" type="date" th:field="*{__${name***REMOVED***__***REMOVED***"/***REMOVED***
            </div***REMOVED***
          <span th:if="${valid***REMOVED***"
            class="fa fa-ok form-control-feedback"
            aria-hidden="true"***REMOVED***</span***REMOVED***
          <th:block th:if="${!valid***REMOVED***"***REMOVED***
            <span
              class="fa fa-remove form-control-feedback"
              aria-hidden="true"***REMOVED***</span***REMOVED***
            <span class="help-inline" th:errors="*{__${name***REMOVED***__***REMOVED***"***REMOVED***Error</span***REMOVED***
          </th:block***REMOVED***
        </div***REMOVED***
      </div***REMOVED***
    </th:block***REMOVED***
  </form***REMOVED***
</body***REMOVED***
</html***REMOVED***
