<?xml version="1.0" encoding="ISO-8859-1"?***REMOVED***
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5"***REMOVED***

    <display-name***REMOVED***Spring PetClinic</display-name***REMOVED***
    <description***REMOVED***Spring PetClinic sample application</description***REMOVED***
    
    <context-param***REMOVED***
        <param-name***REMOVED***spring.profiles.active</param-name***REMOVED***
        <param-value***REMOVED***jpa</param-value***REMOVED***
    </context-param***REMOVED***

   <!-- When using Spring JDBC, use the following: --***REMOVED***
   <!--  <context-param***REMOVED***
        <param-name***REMOVED***spring.profiles.active</param-name***REMOVED***
        <param-value***REMOVED***jdbc</param-value***REMOVED***
    </context-param***REMOVED***  --***REMOVED***

   <!--  When using Spring Data JPA, uncomment the following: --***REMOVED***
   <!--
   	<context-param***REMOVED***
        <param-name***REMOVED***spring.profiles.active</param-name***REMOVED***
		<param-value***REMOVED***spring-data-jpa</param-value***REMOVED***
    </context-param***REMOVED***
	--***REMOVED***

    <!--
		- Location of the XML file that defines the root application context.
		- Applied by ContextLoaderListener.
	--***REMOVED***
    <context-param***REMOVED***
        <param-name***REMOVED***contextConfigLocation</param-name***REMOVED***
        <param-value***REMOVED***classpath:spring/business-config.xml, classpath:spring/tools-config.xml</param-value***REMOVED***
    </context-param***REMOVED***

    <listener***REMOVED***
        <listener-class***REMOVED***org.springframework.web.context.ContextLoaderListener</listener-class***REMOVED***
    </listener***REMOVED***

    <!--
- Servlet that dispatches request to registered handlers (Controller implementations).
--***REMOVED***
    <servlet***REMOVED***
        <servlet-name***REMOVED***petclinic</servlet-name***REMOVED***
        <servlet-class***REMOVED***org.springframework.web.servlet.DispatcherServlet</servlet-class***REMOVED***
        <init-param***REMOVED***
            <param-name***REMOVED***contextConfigLocation</param-name***REMOVED***
            <param-value***REMOVED***classpath:spring/mvc-core-config.xml</param-value***REMOVED***
        </init-param***REMOVED***
        <load-on-startup***REMOVED***1</load-on-startup***REMOVED***
    </servlet***REMOVED***

    <servlet-mapping***REMOVED***
        <servlet-name***REMOVED***petclinic</servlet-name***REMOVED***
        <url-pattern***REMOVED***/</url-pattern***REMOVED***
    </servlet-mapping***REMOVED***



    <!-- used so we can use forms of method type 'PUT' and 'DELETE' (such as in the Pet form)
see here: http://static.springsource.org/spring/docs/current/spring-framework-reference/html/view.html#rest-method-conversion
--***REMOVED***
    <filter***REMOVED***
        <filter-name***REMOVED***httpMethodFilter</filter-name***REMOVED***
        <filter-class***REMOVED***org.springframework.web.filter.HiddenHttpMethodFilter</filter-class***REMOVED***
    </filter***REMOVED***

    <filter-mapping***REMOVED***
        <filter-name***REMOVED***httpMethodFilter</filter-name***REMOVED***
        <servlet-name***REMOVED***petclinic</servlet-name***REMOVED***
    </filter-mapping***REMOVED***
    
    <!-- used to provide the ability to enter Chinese characters inside the Owner Form --***REMOVED***    
    <filter***REMOVED***
	    <filter-name***REMOVED***encodingFilter</filter-name***REMOVED***
	    <filter-class***REMOVED***org.springframework.web.filter.CharacterEncodingFilter</filter-class***REMOVED***
	    <init-param***REMOVED***
	        <param-name***REMOVED***encoding</param-name***REMOVED***
	        <param-value***REMOVED***UTF-8</param-value***REMOVED***
	    </init-param***REMOVED***
	    <init-param***REMOVED***
	        <param-name***REMOVED***forceEncoding</param-name***REMOVED***
	        <param-value***REMOVED***true</param-value***REMOVED***
	    </init-param***REMOVED***
	 </filter***REMOVED***
	
	 <filter-mapping***REMOVED***
	    <filter-name***REMOVED***encodingFilter</filter-name***REMOVED***
	    <url-pattern***REMOVED***/*</url-pattern***REMOVED***
	 </filter-mapping***REMOVED***

</web-app***REMOVED***